body {
    background-image: url(../Images/f19.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: blur(10px);
}
/*----------------------------------------------------------------*/


header label, #menu{
  display: none;
}
header .logo{
  width: 50px;
  height: 50px;

}
header *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
}
header{
  position: sticky;
  top: 0; left: 0; right: 0;
  background-color: #78c4b3;
  border-radius: 10px;
  padding: 20px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .navbar ul{
  list-style: none;
}
header .navbar ul li{
  position: relative;
  float: left;
}
header .navbar ul li a{
  font-size: 20px;
  margin: 1.3em;
  font-family: 'Bad Script', cursive;
  color: #ffffff;
  display: block;
  
}
header .navbar ul li a:hover{
  color: rgb(173, 146, 85);
  font-size: 20px;
  border-top: rgb(173, 146, 85);
  transition: all 0.5s;    
}
header .navbar ul li ul{
  position: absolute;
  left: 0;
  width: 150px;
  background: #78c4b3;
  display: none;
}
header .navbar ul li ul li{
  width: 100% ;
  border-top: 1px solid black;
}
header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
  display: initial;
}
/*-------------------------------------------------------------------*/



/* The main topic */
#topic {
  font-size: 50px;
  font-family:'Lucida Sans';
  font-weight: 100 ;
  text-align: center;
  color: rgb(172, 128, 72);
  animation-name: example;
  animation-duration: 6s;
}
/* Colour change animation*/
@keyframes example {
  from {color: rgb(43, 35, 4) ;}
  to {color: #90cabe;}
}
/*-------------------------------------------------------------------*/

/*The responsive image */
#kos_image {
  width: 100%;
  height: 60%;
  margin: 0;
}
/*-------------------------------------------------------------------*/

/* The four Images */
#kos_img_topic {
  font-size: 50px;
  font-family: 'Bad Script', cursive;
  margin: auto;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
}
/*-----------------------------------------*/
div.scroll-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  width: 500px;
  height:300px;
  border: 5px solid #4d504f;
  margin: auto;
  margin-top: 0px;
  }
/*-----------------------------------------*/ 
div.scroll-container img {
  width: 500px;
  height: 280px;
  }
/*-------------------------------------------------------------------*/

/* The description*/
#para {
  font-size: 20px;
  font-family: 'Mogra', cursive;
  background-color: rgba(177, 140, 92,0.5);
  margin: auto;
  padding: 20px 30px;
  }
/*-------------------------------------------------------------------*/

/* The Map*/
#map {
  width: 50%;
  height: 400px;
  border: 60px solid rgba(172, 128, 72, 0.5);
  margin: auto;
  margin-top: 30px;
 }
/*-------------------------------------------------------------------*/

/*  Important points- section*/
#container{
  margin: auto;
  background-color: rgba(172, 128, 72, 0.5);
  width: 50%;
  margin-inline: 2px;
  margin-block: 30px;
  padding-inline: 30px;
  padding-block: 50px;
 }
/*-------------------------------------------------------------------*/

/*  Important points- topic*/
#points{
  background-color: rgba(207, 206, 110,0.5);
  border-radius: 10px;
  padding: 10px 30px;
  text-align: center;
  animation-name: example;
  animation-duration: 6s;
 }
/*-------------------------------------------------------------------*/

/*  Important points- facts */
.facts {
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
 }
/*-------------------------------------------------------------------*/

/* footer */
#footer {
  font-size: 20px;
  font-family: Cambria;
  text-align: center;
  background-color: rgba(105, 76, 38, 0.5);
  padding-block: 50px ;
}

